<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>logged in as <span style="color: black">@HttpContext.Current.User.Identity.Name</span></h1>
            </hgroup>
        </div>
    </section>
</div>
